manifest.name = "No networking"

workDir = 's3://fusion-develop/scratch'

wave.enabled = true

fusion {
  enabled = true
}

process {
  container = 'jordeu/ubuntu:curl'
  scratch = false
}

docker {
  enabled = true
  runOptions = '-v $HOME/.aws/credentials:/credentials -e AWS_SHARED_CREDENTIALS_FILE=/credentials'
  envWhitelist = 'AWS_PROFILE'
}
