process {
  container = 'quay.io/nextflow/bash'
}

manifest {
    defaultBranch = 'main'
}

wave {
  enabled = true
}

fusion {
  enabled = true
  containerConfigUrl = 'https://fusionfs.seqera.io/releases/v2.4-amd64.json' 
}

profiles {
  
  aws {
    docker {
      enabled = true
      runOptions = '-v $HOME/.aws/credentials:/credentials -e AWS_SHARED_CREDENTIALS_FILE=/credentials'
    }
  }

  azure {
    docker {
      enabled = true
      envWhitelist = 'AZURE_BATCH_ACCOUNT_KEY,AZURE_BATCH_ACCOUNT_NAME,AZURE_STORAGE_ACCOUNT_KEY,AZURE_STORAGE_ACCOUNT_NAME'
    }
  }

  google {
    docker {
      enabled = true
      runOptions = '-v "$GOOGLE_APPLICATION_CREDENTIALS":/key.json:ro -e GOOGLE_APPLICATION_CREDENTIALS=/key.json'
    }
  }

}
