manifest.name = "Publish an input file"

params.outdir = "results"
wave.enabled = true

fusion {
  enabled = true
}

process {
  container = 'quay.io/nextflow/bash'
  scratch = false
}

docker {
  enabled = true
  runOptions = '-v $HOME/.aws/credentials:/credentials -e AWS_SHARED_CREDENTIALS_FILE=/credentials -m 256m'
  envWhitelist = 'AWS_PROFILE'
}
